<footer class="page-footer white row">
    <div class="col m12 s12">
      <p class="site-footer-owner">{{ site.title }} is maintained by DXC Technology.</p>
    </div>
</footer>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
 <script src="{{ site.baseurl }}/assets/js/common.js"></script>